@font-face {
    font-family: "ShadowsIntoLight-Regular";
    src: url('../fonts/ShadowsIntoLight-Regular.ttf') format("truetype");
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "ShadowsIntoLight-Regular";
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: min-content;
    width: fit-content;
    margin: 8px auto 0 auto;
    border: 2px solid silver;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px #c5bfbf;
    padding: 30px;
    position: relative;
}

.flex-container:hover {
    border: 2px solid #d2d213;
    box-shadow: 0 0 5px 1px #d2d213;
    transition: all 0.5s ease;
}


.flex-container .top-title {
    background: linear-gradient(to right, #ef6363, #e8a944, #ffff00, #50d950, deepskyblue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

.flex-container .top-title:hover {
    background: linear-gradient(to right, #ffbfff, #a143ff, #88e6ff, #225b22, #ffff00, #e8a944, #ef6363);
    -webkit-background-clip: text;
    color: transparent;
}

.search-container {
    position: relative;
}

.search-input {
    width: 533px;
    font-size: 16px;
    background-color: aliceblue;
    border: aliceblue;
    border-radius: 10px;
    padding: 8px 12px 5px 40px;
    margin-bottom: 40px;
}

.search-icon {
    position: absolute;
    color: #4ba9de;
    top: 15px;
    left: 10px;
}

.item-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weather-box {
    width: 250px;
    height: 200px;
    background-color: #599ac1;
    border: 1px solid #599ac1;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #c5bfbf;
}

.weather-box:hover {
    background-color: rgba(89, 154, 193, 0.8);
    box-shadow: 0 0 5px 1px #073f67;
}

.clouds {
    text-align: center;
    margin: 10px;
}

.temperature-item {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 10px;
    color: #9ad9ff;

}

.temperature {
    font-weight: bold;
}

.place-unit {
    position: relative;
}

.unit {
    font-size: 18px;
    position: absolute;
    margin-top: -20px;
}

.condition-text {
    font-weight: bold;
    font-size: 25px;
    margin-left: 18px;
}

.day-and-clock {
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    color: #fdfdfd;
}

.wind-humidity-location {
    font-size: 20px;
    padding-left: 50px;
}

.text-item-wind {
    border: 1px solid #cc5ed9;
    background-color: #cc5ed9;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #c5bfbf;
    color: #fff;
    font-weight: bold;
}

.text-item-humidity {
    border: 1px solid #cc7979;
    background-color: #cc7979;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #c5bfbf;
    color: #fff;
    font-weight: bold;
}

.text-item-location {
    border: 1px solid #efa033;
    background-color: #efa033;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #c5bfbf;
    color: #fff;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 15px;
}
