@font-face {
    font-family: "Itim-Regular";
    src: url('../fonts/Itim-Regular.ttf') format("truetype");
}

* {
    box-sizing: border-box;
}

html {
    display: flex;
    font-family: "Itim-Regular", "sans-serif";
    margin: 0 8px;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #edeff6;
}

.main-container {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px 1px #bfc4c5;
    padding: 30px;
    max-width: 550px;
}

header {
    text-align: center;
    font-size: 15px;
}

.main-heading {
    display: inline-block;
    background: linear-gradient(to right, #69b3e7, #d65bea, #ee52d6, #f8709a, #ffa480);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
}

form {
    display: flex;
    margin: 24px 0;
}

.search-input-container {
    width: 100%;
    height: 32px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 15px;
    margin-right: 8px;
}

.search-input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-family: "Itim-Regular", "sans-serif";
}

.search-icon {
    color: #4ba9de;
}

.location-icon {
    color: #ffffff;
}

.submit-button {
    width: 30px;
    height: 30px;
    background-color: #4ba9de;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.search-result-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.weather-box {
    background-color: #76a0f7;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px #94ade2;
    padding: 8px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - 20px);
}

.weather-icon {
    text-align: left;
    color: #ffffff;
    margin: 18px 10px 32px 10px;
    position: relative;
    z-index: 1;
}

.weather-icon::before {
    content: "\f0c2";
    font-family: "fontAwesome", "sans-serif";
    position: absolute;
    left: 14px;
    top: -7px;
    z-index: -1;
    font-size: large;
    color: #5b5858;
}

.temperature-item {
    display: flex;
    align-items: center;
    margin: 10px;
    color: #fdfdfd;
}

.temperature {
    font-weight: bold;
    font-size: 18px;
    position: relative;
}

.unit {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.condition-text {
    font-weight: bold;
    font-size: 15px;
    margin-left: 26px;
}

.day {
    font-weight: bold;
    font-size: 20px;
    color: #fdfdfd;
    margin: 10px;
    padding-top: 30px;
}

.clock {
    color: rgba(253, 253, 253, 0.73);
}

.wind-humidity-location-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - 20px);
}

.weather-result-item {
    width: 100%;
    padding: 14px 12px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.wind-item {
    background-color: #f07fff;
    box-shadow: 0 2px 4px 1px #d48ed8;
}

.humidity-item {
    background-color: #f87da7;
    box-shadow: 0 2px 4px 1px #de89b1;
}

.location-item {
    background-color: #f8b258;
    box-shadow: 0 2px 4px 1px #e8ae87;
}

.icon-in-item {
    color: #ffffff;
    margin-right: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
}

footer span a {
    text-decoration: none;
}

@media screen and (max-width: 480px) {

    .search-result-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather-box {
        width: 100%;
    }

    .wind-humidity-location-container {
        width: 100%;
        margin: 10px;
        gap: 16px;
    }
}
