@font-face {
    font-family: "ShadowsIntoLight-Regular";
    src: url('../fonts/ShadowsIntoLight-Regular.ttf') format("truetype");
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "ShadowsIntoLight-Regular";
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 50%;
    margin: 5px auto 0 auto;
    border: 2px solid silver;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px #c5bfbf;
    padding: 30px;
}

.flex-container .top-title {
    background: linear-gradient(to right, #ef6363, #e8a944, #ffff00, #50d950, deepskyblue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

.search-control{

}

.search-box-control {
    width: 533px;
    font-size: 16px;
    background-color: aliceblue;
    border: aliceblue;
    border-radius: 10px;
    padding: 8px 12px 5px 15px;
    margin-bottom: 40px;
}

.item-control {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 9px;
}

.weather-box {
    width: 250px;
    height: 200px;
    background-color: #599ac1;
    border: 1px solid #599ac1;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #c5bfbf;

}

.clouds {
    text-align: center;
    margin: 10px;
}

.temperature-item {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 10px;
    color: #9ad9ff;
}

.temperature {
    font-weight: bold;
}

.unit {
    font-size: 18px;
    margin-left: 5px;
}

.condition-text {
    font-weight: bold;
    font-size: 25px;
}

.day-and-clock {
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    color: #fdfdfd;
}

.wind-humidity-location {
    font-size: 20px;
    padding: 0 0 0 121px
}

.text-item-wind {
    border: 1px solid #cc5ed9;
    background-color: #cc5ed9;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #c5bfbf;
    color: #fff;
    font-weight: bold;
}

.text-item-humidity {
    border: 1px solid #cc7979;
    background-color: #cc7979;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #c5bfbf;
    color: #fff;
    font-weight: bold;
}

.text-item-location {
    border: 1px solid #efa033;
    background-color: #efa033;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #c5bfbf;
    color: #fff;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 80px;
}

